/media/
db.sqlite3
db.sqlite3
.idea/misc.xml
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BBQ/v16/.suo
adminsite/__pycache__/__init__.cpython-311.pyc
adminsite/__pycache__/urls.cpython-311.pyc
adminsite/__pycache__/views.cpython-311.pyc
authenticate/__pycache__/__init__.cpython-311.pyc
authenticate/__pycache__/admin.cpython-311.pyc
authenticate/__pycache__/apps.cpython-311.pyc
authenticate/__pycache__/forms.cpython-311.pyc
authenticate/__pycache__/models.cpython-311.pyc
authenticate/__pycache__/urls.cpython-311.pyc
authenticate/__pycache__/views.cpython-311.pyc
authenticate/migrations/__pycache__/__init__.cpython-311.pyc
BBQ/__pycache__/__init__.cpython-311.pyc
BBQ/__pycache__/settings.cpython-311.pyc
BBQ/__pycache__/urls.cpython-311.pyc
BBQ/__pycache__/views.cpython-311.pyc
BBQ/__pycache__/wsgi.cpython-311.pyc
bbqweb/__pycache__/__init__.cpython-311.pyc
bbqweb/__pycache__/admin.cpython-311.pyc
bbqweb/__pycache__/apps.cpython-311.pyc
bbqweb/__pycache__/forms.cpython-311.pyc
bbqweb/__pycache__/models.cpython-311.pyc
bbqweb/__pycache__/urls.cpython-311.pyc
bbqweb/__pycache__/views.cpython-311.pyc
bbqweb/migrations/0001_initial.py
bbqweb/migrations/0002_rename_rent_day_barbeque_rent_and_more.py
bbqweb/migrations/__pycache__/__init__.cpython-311.pyc
bbqweb/migrations/__pycache__/0001_initial.cpython-311.pyc
bbqweb/migrations/__pycache__/0002_rename_rent_day_barbeque_rent_and_more.cpython-311.pyc
order/__pycache__/__init__.cpython-311.pyc
order/__pycache__/admin.cpython-311.pyc
order/__pycache__/apps.cpython-311.pyc
order/__pycache__/forms.cpython-311.pyc
order/__pycache__/models.cpython-311.pyc
order/__pycache__/urls.cpython-311.pyc
order/__pycache__/views.cpython-311.pyc
order/migrations/0001_initial.py
order/migrations/__pycache__/__init__.cpython-311.pyc
order/migrations/__pycache__/0001_initial.cpython-311.pyc
.idea/misc.xml
db.sqlite3
.idea/misc.xml
