{% extends "base/base.html" %}
{% block title %}
BBQ Admin - Add BBQ
{% endblock %}
{% block template %}

{% load crispy_forms_filters %}
<style>
    #nav_color{
    background-color: #EE4B2B
    }
</style>
<!--Register-->
<div class="container py-5">
	<h1>Add BBQ</h1>
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ register_form|crispy }}
        {{ image_form|crispy }}
		<button class="btn btn-primary" type="submit">Add</button>
	</form>
    {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
            <p> {{ errors }} </p>
        {% endfor %}
        {% endfor %}
    {% endif %}
</div>

{% endblock %}