#gaytest{
    background-color: #696969;
    overflow-x: hidden;
}
.carousel-item {
  justify-content: center;
  align-items: center;
  height:500px;
  /*max-height: 500px;*/
}
.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.support-bubble {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.support-icon {
  font-size: 30px;
  color: white;
}

.cart-bubble {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: lightblue;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
}

.cart-icon {
  font-size: 30px;
  color: white;
}

.popup {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  width: 200px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.img_centre_card {
  display: block;
  margin:auto;
  max-width:384px;
  max-height:216px;
  /*width:384px;
  height:216px;*/
  object-fit:contain;
}

.card_style{
  width: 18rem;
  margin:4%;
}

.test_centre{
  display: block;
  margin: 3% auto 2%;
  max-width:80%;
}

#nav_color{
    background-color: #75fffb;
}

.desktop-content {
  display: block; /* Shown by default */
}

.mobile-content {
  display: none; /* Hidden by default */
}
@media (max-width: 768px) {
  .desktop-content {
    display: none; /* Hidden on mobile */
  }

  .mobile-content {
    display: block; /* Shown on mobile */
  }
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.user-button {
  background: none;
  border: none;
}

.user-icon {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

#dropdown-background {
  background-color: lightblue;
}

.modal-body ul li {
  margin-bottom: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.box {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 33.33%;
  max-width: 600px;
}

.content {
  text-align: center;
}
