{% extends 'base/base.html' %}
{% block title %}
    BBQ Rental - Rent
{% endblock %}
{% block template %}
    <div class="row gy-1">
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="float:right; margin:10px">
        Sort By
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'rent_a_bbq' %}">Default</a></li>
        <li><a class="dropdown-item" href="{% url 'rent_a_bbq_high' %}">Price: High-Low</a></li>
        <li><a class="dropdown-item" href="{% url 'rent_a_bbq_low' %}">Price: Low-High</a></li>
          <li><a class="dropdown-item" href="{% url 'rent_a_bbq_name' %}">Name: A-Z</a></li>
      </ul>
    </div>
        {% for x in bbqs %}
        <div class="col-md-2">
            <div class="card_style card" style="background-color: #0000ff">
                <a href="{% url 'view_bbq_rent' x.id %}">
                <img src="{{ x.image.url }}" class="figure-img img-fluid rounded img_centre_card" alt='{{ x.id }}'>
                <h5 class="'card-title text-center">{{ x.name }}</h5>
                </a>
                <h6 class="'card-text text-center">{{ x.rent }} per day</h6>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}