{% extends "base/base.html" %}
{% load bbq_filters %}
{% load static %}
{% block title %}
    BBQ Rental - Home
{% endblock %}
{% block template %}

<style>
.body {
      display: flex;
      justify-content: center;
      height: 100vh;
      margin: 0;
}

.box {
   margin-top:5%;
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width:79%;
  height:65%;

}

.content {
  text-align: center;
}
#cartButton {
    display: none;
}
.bbqImg{
  max-width:200px;
  height:150px;
  object-fit: cover;
}
</style>
<div class="body">
    <div class="box">
      <div class="content">
        Your Content<br><br>
          <div class="modal-body" id="cartContainer1">
          {% if 'cart' in request.session %}
            {% if request.session.cart.items %}
              <ul>
                {% for bbq_id, bbq_name in request.session.cart.items %}
                  <li class="d-flex justify-content-between align-items-center" id="cartItems" style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border: 1px solid #000;
                      padding: 10px;
                  ">

                    <img src="{{ bbq_id|get_bbq_image_url }}" alt="Barbeque Image" class="bbqImg">
                    <span>
                        {{ bbq_name }}
                    </span>



                    <a href="#" class="delete-link" onclick="return removeFromEndCart(event, '{{ bbq_id }}', '{{ bbq_name }}','{{ bbq_id|get_bbq_image_url }}')">
                      <img src="/static/images/bin.png" alt="Delete" width="20" height="20">
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Your cart is empty.</p>
            {% endif %}
          {% else %}
            <p>Your cart is empty.</p>
          {% endif %}
        </div>
      </div>
    </div>
<div>

<script>
  function removeFromEndCart(event, bbqId, bbqName, img) {
  console.log(img)
          fetch('/remove_from_final_cart/' + bbqId)
            .then(response => {
                if (response.ok) {
                    return response.json(); // Parse the JSON response
                } else {
                    throw new Error('Error removing from cart');
                }
            })
            .then(data => {
                // Update the cart dynamically using the received data
                const cart = data.cart;
  console.log(cart)

                // Construct the HTML string for cart items
                let cartHTML = '<ul class="cart-list">';
                for (const itemId in cart) {
                    const itemName = cart[itemId];
                    const itemHTML = `
                        <li class="d-flex justify-content-between align-items-center" id="cartItems" style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      border: 1px solid #000;
                      padding: 10px;
                  ">
                    <img src=${img} alt="Barbeque Image" class="bbqImg">
                    <span>
                        ${itemName}
                    </span>



                    <a href="#" class="delete-link" onclick="return removeFromEndCart(event, '${itemId}', '${itemName}')">
                      <img src="/static/images/bin.png" alt="Delete" width="20" height="20">
                    </a>
                  </li>
                    `;
                    cartHTML += itemHTML;
                }

                cartHTML += `</ul>`;
                const cartContainer = document.getElementById('cartContainer1');

                    if( Object.keys(cart).length < 1){
                        cartContainer.innerHTML = "Your cart is empty";
                    } else{
                        cartContainer.innerHTML = cartHTML;
                    }
               displayAddedToCartBanner(".remove-banner")
                console.log('Item removed from cart successfully');
            })
            .catch(error => {
              console.error('Error:', error);
            });

          return false; // Prevent the default behavior (e.g., navigating to a URL if this is an anchor element)
        }
</script>
{% endblock %}