{% extends 'base/base.html' %}
{% block title %} BBQ Rental - {{ bbq.name }}{% endblock %}
{% block template %}
    <img src="{{ bbq.image.url }}" alt="img" width="384px" height="216px"><br>
    Name: {{ bbq.name }}<br>
    Length: {{ bbq.length }} Width: {{ bbq.width }} Height: {{ bbq.height }}<br>
    {% if bbq.rent_day > 0 %}
    Rent(p/day): {{ bbq.rent_day }}<br>
    {% endif %}
    {% if bbq.rent_week > 0 %}
    Rent(p/week): {{ bbq.rent_week }}<br>
    {% endif %}
    {% if bbq.rent_month > 0 %}
    Rent(p/month): {{ bbq.rent_month }}<br>
    {% endif %}
    Delivery Price: {{ bbq.delivery }}<br>
    About: {{ bbq.about }}

{% endblock %}